In [6]:
import pandas as pd

from pybaseball import playerid_reverse_lookup

In [4]:
df = pd.read_csv('results_2021.csv')

df.shape

(122716, 31)

In [7]:
# Get Batters

batter_names = playerid_reverse_lookup(df['batter'], key_type='mlbam')

Gathering player lookup table. This may take a moment.

In [9]:
batter_names.shape

(943, 8)

In [10]:
# Get Pitchers

pitcher_names = playerid_reverse_lookup(df['pitcher'], key_type='mlbam')

pitcher_names.shape

(905, 8)

In [11]:
pitcher_names.head()

,name_last,name_first,key_mlbam,key_retro,key_bbref,key_fangraphs,mlb_played_first,mlb_played_last
0,abad,fernando,472551,abadf001,abadfe01,4994,2010.0,2021.0
1,abbott,cory,676265,abboc001,abbotco01,20277,2021.0,2021.0
2,abreu,albert,656061,abrea001,abreual01,17485,2020.0,2021.0
3,abreu,bryan,650556,abreb002,abreubr01,16609,2019.0,2021.0
4,acevedo,domingo,642758,acevd001,acevedo01,17092,2021.0,2021.0

In [12]:
type(pitcher_names)

pandas.core.frame.DataFrame

In [13]:
player_ids = pd.concat([batter_names, pitcher_names], axis=0)

player_ids.shape

(1848, 8)

In [14]:
player_ids.to_csv('gs://sean_sullivan_projects/MLB_EVOE_Project/January_2022_Data/players_2021.csv')

<br>
<br>

### Get 2021 Level Performance

In [41]:
from pybaseball import batting_stats
from pybaseball import pitching_stats_bref

In [42]:
batting_2021 = batting_stats(2021, qual = 'n')

batting_2021.shape

(1508, 319)

In [43]:
batting_2021.head()

,IDfg,Season,Name,Team,Age,G,AB,PA,H,1B,...,Barrel%,maxEV,HardHit,HardHit%,Events,CStr%,CSW%,xBA,xSLG,xwOBA
61,16252,2021,Trea Turner,- - -,28,148,595,646,195,130,...,0.074,112.2,225.0,0.460,489,0.160,0.262,0.303,0.484,0.362
33,19611,2021,Vladimir Guerrero Jr.,TOR,22,161,604,698,188,110,...,0.151,117.4,274.0,0.552,496,0.127,0.250,0.306,0.591,0.416
28,11579,2021,Bryce Harper,PHI,28,141,488,599,151,73,...,0.181,116.3,177.0,0.492,360,0.119,0.263,0.301,0.610,0.430
32,20123,2021,Juan Soto,WSN,22,151,502,654,157,106,...,0.133,116.6,217.0,0.524,414,0.200,0.263,0.304,0.544,0.430
91,12533,2021,Marcus Semien,TOR,30,162,652,724,173,87,...,0.098,109.5,210.0,0.413,509,0.158,0.245,0.244,0.453,0.331

In [44]:
batting_2021.to_csv('gs://sean_sullivan_projects/MLB_EVOE_Project/January_2022_Data/batting_2021.csv')